$font: 'OpenSans';
//$fontSecond: 'Cera Pro';
$font-size: 16px;

$minWidth: 1080px;

$black: #000;
$black-opacity: rgba(0, 0, 0, 0.5);
$shadow: rgba(0, 0, 0, 0.20);
$white: #ffffff;
$red: #EE3637;
$yellow: #d0a500;
$gray: #DDDEEE;
$opacity-gray: rgb(87%, 87%, 93%, 0.5);
$dark-gray: #757576;
$orange: #ff7118;

$primary: #333269;
$primary-hover: #24235e;
$secondary: #EE3637;
$secondary-hover: #a41f1f;
$disable: #C0BEFF;

$background: #F0F1F3;

$md1: 1760;
$md2: 1240;
$md3: 992;
$md4: 768;
$md5: 540;
